<app-template-full-width [title]="myTitle" *ngIf="collection$ | async as collection">
  <button (click)="changeTitle()">change title</button>
  <!-- tout ici constitue le contenu de cette page et est projetté -->
  <!-- à la place de ng-content dans template-full-width.component.html -->
  <!-- {{ collection | json }} -->
  <app-table-light [headers]="headers">

    <tr *ngFor="let item of collection">
      <td>{{ item.typePresta }}</td>
      <td>{{ item.client | uppercase }}</td>
      <td>{{ item.nbJours }}</td>
      <td>{{ item.tjmHt | currency }}</td>
      <td>{{ item | total | currency }}</td>
      <td>{{ item | total: true | currency }}</td>
      <td [appState]="item.state">
        <select (change)="changeState(item, $event)">
          <option *ngFor="let state of states" [value]="state" [selected]="state === item.state">{{ state }}
          </option>
          <!-- <option value="CANCELED" selected="false">CANCELED</option>
          <option value="OPTION" selected="true">OPTION</option>
          <option value="CONFIRMED" selected="false">CONFIRMED</option> -->
        </select>
      </td>
    </tr>

  </app-table-light>
  <app-btn></app-btn>
</app-template-full-width>
